@page
@model FunnyWebRazor.Pages.Categories.IndexRatingSortedModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Movie List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/categories/create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create new movie rating
            </a>
        </div>
    </div>
</div>



<table class="table table-bordered border-dark table-striped">
    <thead>
    <tr>
            <th>
                <a asp-page="/categories/index">
                    Name
                </a>
            </th>
            <th>Review</th>
            <th>
                <a asp-page="/categories/indexratingsorted">
                    Rating
                </a>
            </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var obj in Model.CategoryList.OrderBy(x => -x.Rating))
    {
        <tr>
            <td>@obj.Name</td>
            <td>@obj.Review</td>
            <td class="rating">
                    @for (var i = 0; i < @obj.Rating; i++) {
                        <span class="fa fa-star checked"></span>
                    }
                    @for (var i = 0; i < 10 - @obj.Rating; i++) {
                        <span class="fa fa-star"></span>
                    }
                
                </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-page="/categories/edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a asp-page="/categories/delete" asp-route-id="@obj.Id" class="btn btn-secondary mx-2">
                        <i class="bi bi-trash-fill"></i> Delete
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>

</table>
